/*Reset CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 146, 146);
    height: 100%;
    width: 100%;  
}

.folowSpentApp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    overflow: scroll;
}
h1{
    font-size: 35px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #3498db;
    margin-top: 40px;
}
#funds{
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 7px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
}
.transaction{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}
input, select{
    height: 35px;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    padding: 5px;
    background-color: rgb(224, 219, 219);
    color: #3498db;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#add{
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    outline: none;
    padding: 5px;
    width: 100px;
}
.addTransaction{
    color: #3498db;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.ch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 900px;
}

#add{
    background-color: rgb(224, 219, 219);
    margin-top: 50px;
    border: none;
    outline: none;
    color: #3498db;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


.transaction{
    margin-top: 50px;
}
.transaction h3{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color: #3498db;
}
#resetBtn{
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    background-color: #3498db;
    margin-left: 700px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}



.revenu, .green{
    color: green;
}

.depense, .red{
    color: red;
}

::-webkit-scrollbar{
    display: none;
}
select{
    font-size: 20px;
}