/*Neon box*/
.neon-box{
    box-shadow: 0 0 10px rgba(255, 0, 255, .5),
                        0 0 20px rgba(255, 0, 255, 0.7),
                        0 0 30px rgba(255, 0, 255, 0.5);
    animation: neno 1.5s infinite alternate;
}

@keyframes neno {
    0%{
        box-shadow: 0 0 20px rgba(238, 255, 0, 0.7);
    }

    100%{
        box-shadow: 0 0 30px rgb(9, 255, 0);
    }
}

/*Nice button*/
#anime1{
    position: relative;
    transition: 1s;
    overflow: hidden;
}

#anime1:hover{
    background: red;
    box-shadow: 0 0 10px red,
    0 0 30px red,
    0 0 60px red,
    0 0 100px red;
}

#anime1::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 500%;
    background: red;
    transition: 1s;
    animation: animate 1s linear infinite;
    animation-delay: 0.35s;
    text-align: center;
    margin-top: -150px;
}

#anime1:hover::before{
    width: 100%;
}


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    }
}

#anime1::after{
    content: "";
    position: absolute;
    inset: 4px;
    background: #0e1538;
}
#anime1:hover::after{
    background: red;
}

#anime1 span{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 1em;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#anime1:hover span{
    opacity: 1;
}


/*Style BTN 2*/
#anime2{
    position: relative;
    padding: 10px;
    overflow: hidden;
}

#anime2 span{
    position: relative;
    z-index: 1;
}

#anime2::before{
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: blue;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
    
}
#anime2:hover::before{
    width: 300px;
    height: 300px;
}

/*
code js corespondant
const btn = document.getElementById("anime2");

btn.addEventListener("mousemove", (e) => {
    const x = e.pageX - btn.offsetLeft;
    const y = e.pageY - btn.offsetTop;

    btn.style.setProperty("--x", x + "px");
    btn.style.setProperty("--y", y + "px");
})
*/

/*anime3*/


#anime3{
    position: relative;
}

#anime3::before,
#anime3::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #0e1538;
    transition: 0.5s;
}
/*
#anime3:nth-child(1)::before,
#anime3:nth-child(1)::after{
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538 , #d400d4);
}
*/
#anime3:nth-child(1):before,
#anime3:nth-child(1):after{
    background: linear-gradient(45deg, #ff075b, #0e1538, #0e1538 , #1aff5b);
}

#anime3:hover:before{
    inset: -3px;
}

#anime3:hover:after{
    inset: -3px;
    filter: blur(10px);
}
#anime3 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: 1px solid #0e1538;
    overflow: hidden;
}