*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #0e1538;
}

body #part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    padding: 20px;
    margin: 0;
}

body #part1 .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 60%;
    padding: 20px;
    margin: 0;
}

body #part1 .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 60%;
}

body #part1 .container .row .dot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 12%;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 20%;
}
.level{
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -20px;
}

/*Neon box*/
.neon-box{
    box-shadow: 0 0 3px rgba(146, 140, 146, 0.5),
                        0 0 4px rgba(107, 104, 107, 0.7),
                        0 0 5px rgba(110, 107, 110, 0.5);
    animation: neno 1.5s infinite alternate;
}

@keyframes neno {
    0%{
        box-shadow: 0 0 3px white;
    }

    100%{
        box-shadow: 0 0 4px rgb(87, 86, 85);
    }
}

.clrAdd{
    background: linear-gradient(orange, orangered);
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 65%;
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 170px;
    height: 40px;
    border: 1px solid blue;
    font-size: 18px;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 20px;
    border: 2px solid blue;
}

@media screen and (max-width: 740px) {
    .container{
        width: 90%;
    }
}
.taux{
    color: white;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 10px;
}
.annonce{
    color: blue;
    margin-top: 30px;
    font-weight: 100;
    letter-spacing: 15px;
    transition: 1s;
}
#home{
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-bottom: -50px;
}