*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body{
    background-color: #83b2be;
    /*background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/milky-way-natureco-picture.jpg");*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
}
.weather-app{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 85%;
    border-radius: 10px;
    background-color: rgba(26, 128, 153, 0.4);
}
.weather-app>h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

.weather-app>#city-input{
    border: 1px solid rgb(19, 18, 18, 0.3);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(19, 18, 18, 0.2);
    width: 60%;
    height: 30px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    outline: none;
}

.weather-app>#search-btn{
    color: white;
    width: 30%;
    border-radius: 5px;
    background-color: inherit;
    border: none;
    height: 38px;
    font-size: 18px;
    border: 1px solid white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

@media screen and (max-width: 740px) {
    .weather-app{
        width: 80%;
        height: 85%;
        border-radius: 10px;
    }
    .weather-app>h1{
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 5px;
    }
    p{
        font-size: 17px;
    }
    .weather-app>#search-btn{
        height: 30px;
        font-size: 17px;
        border: 1px solid white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
    }
}

@media screen and (min-width: 741px) and (max-width: 1200px){
    .weather-app{
        width: 60%;
        height: 85%;
        border-radius: 10px;
    }
    .weather-app>h1{
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 5px;
    }
    p{
        font-size: 20px;
    }
    .weather-app>#search-btn{
        height: 30px;
        font-size: 18px;
        border: 1px solid white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
    }
}