body{
    background-color: #ecf0f1;
}
header{
    background-color: #3498db;
    height: 60px;
    width: 100%;
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lst{
    list-style-type: none;
    margin-top: 20px;
}

.lst>a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 20px;
    font-weight: bolder;
    transition: 1s;
}
.lst>a:hover{
    color: white;
}
.neon-box{
    background-color: #000;
}
.neon-box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(255, 0, 255, .5),
                        0 0 20px rgba(255, 0, 255, 0.7),
                        0 0 30px rgba(255, 0, 255, 0.5);
    animation: neno 1.5s infinite alternate;
}

@keyframes neno {
    0%{
        box-shadow: 0 0 20px rgba(238, 255, 0, 0.7);
    }

    100%{
        box-shadow: 0 0 30px rgb(9, 255, 0);
    }
}