@import url("../global/reset.css");
@import url("../global/base.css");
@import url("../global/annimate.css");
@import url("../global/whatsapp-icon.css");
@import url("../home/01_hero.css");
@import url("./02_about.css");
@import url("./03_skills.css");
@import url("./04_projects.css");
@import url("./05_testimonials.css");
@import url("./06_contact.css");
@import url("./07_footer.css");






